In [22]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine   
from sqlalchemy import text

# Load Data

In [23]:
df_train = pd.read_csv('../data/train.csv')
df_test = pd.read_csv('../data/test.csv')
df_ideal = pd.read_csv('../data/ideal.csv')

In [24]:
df_train.head()

      x         y1         y2         y3        y4
0 -20.0  39.778572 -40.078590 -20.214268 -0.324914
1 -19.9  39.604813 -39.784000 -20.070950 -0.058820
2 -19.8  40.099070 -40.018845 -19.906782 -0.451830
3 -19.7  40.151100 -39.518402 -19.389118 -0.612044
4 -19.6  39.795662 -39.360065 -19.815890 -0.306076

In [25]:
df_test.head()

      x          y
0  17.5  34.161040
1   0.3   1.215102
2  -8.7 -16.843908
3 -19.2 -37.170870
4 -11.0 -20.263054

In [26]:
df_ideal.head()

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902

# Create MySql Engine

In [42]:
user = 'uiassignment'
password = 'uiuserpass'
database = 'uiassignment' 

# uri = f"mysql+pymysql://{user}:{password}@localhost:3306/{database}"
uri = f"sqlite:///../data/uiassignmentdb.db"
print(uri)

engine = create_engine(uri)

sqlite:///../data/uiassignmentdb.db

In [43]:
df_train.to_sql('train', con=engine, if_exists='replace', index=False)

400

In [44]:
df_test.to_sql('test', con=engine, if_exists='replace', index=False)

100

In [45]:
df_ideal.to_sql('ideal', con=engine, if_exists='replace', index=False)

400

In [46]:
with engine.connect() as conn:
  result = conn.execute(text("show tables;"))
  print(result.all())

OperationalError: (sqlite3.OperationalError) near "show": syntax error
[SQL: show tables;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)